<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.red-indigo.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}"/>
-->
    <title>Query by Example : Demo</title>

    <style>
        .demo-card-square.mdl-card {
            width: 320px;
            height: 600px;
        }

        .demo-list-two {
            width: 300px;
        }

        body, html, h2 {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            font-family: sans-serif;
        }

        body * {
            font-weight: 200;
        }

        #heatmapContainerWrapper {
            width: auto;
            height: auto;
            position: relative;
            background: rgba(0, 0, 0, .1);
        }

        #heatmapContainer {
            width: 100%;
            height: 100%;
        }

        #heatmapLegend {
            background: white;
            position: relative;
            bottom: 0;
            right: 0;
            padding: 10px;
        }

        #min {
            float: left;
        }

        #max {
            float: right;
        }

        h1 {
            position: absolute;
            background: black;
            color: white;
            padding: 10px;
            font-weight: 200;
        }


    </style>
</head>
<body>
<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
    <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title center-block">Query by Example: Spoken Term Detection</span>
            <div class="mdl-layout-spacer"></div>
            <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>-->
        </div>
    </header>
    <div class="demo-ribbon"></div>
    <!--
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>-->
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone demo-content mdl-color--white mdl-shadow--2dp">
                <h3>Query Audio</h3>
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                            <input class="mdl-textfield__input" placeholder="Upload Audio File" type="text"
                                   id="uploadFile" readonly/>
                            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                <i class="material-icons">attach_file</i><input type="file" id="uploadBtn" name="file">
                            </div>

                        </div>
                        <br/>
                        <button id="upload-file-btn" type="button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Search
                        </button>


                        <!--
                                                <label for="file">Select an audio file</label>
                                                <input name="file" type="file">
                                                <button id="upload-file-btn" type="button"
                                                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                                    Upload
                                                </button>-->
                    </fieldset>
                </form>
                <p></p>
                <div id="search">
                    <main class="mdl-layout__content">

                        <input type="hidden" value="10" id="seek_val"/>
                        <input type="hidden" value="10" id="duration"/>

                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="align-items: center">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Start Time (secs)</th>
                                <th class="mdl-data-table__header--sorted-descending">Score</th>
                                <th class="mdl-data-table__cell--non-numeric">Play</th>
                            </tr>
                            </thead>
                            <tbody id="search_results">

                            </tbody>
                        </table>
                        <!--<ul id="search_results" class="demo-list-two mdl-list">
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">1</i>
                                  <span>246</span>
                                  <span class="mdl-list__item-sub-title">Score: </span>
                                </span>
                                <span class="mdl-list__item-secondary-content">
                                  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">play_arrow</i></a>
                                </span>
                            </li>
                        </ul>
                        <span class="mdl-chip mdl-chip--contact" style="width: 200px">
                            <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">1</span>
                            <span class="mdl-chip__text">Start - Score</span>
                            <a href="#" class="mdl-chip__action" onclick="setSeek(100)"><i class="material-icons">play_arrow</i></a>
                        </span>-->
                    </main>
                </div>
                <!--
                <div id="search" class="demo-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                        Search Results
                    </div>
                </div>-->
            </div>
            <!--Right side content-->
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

                <h3>Corpus Audio</h3>
                <div class="track" id="track-viz"></div>

                <!--<audio id="audio" src="static/110101_000444_channel3.wav" preload="auto"></audio>-->
                <audio id="audio" src="{{ audio_path }}" preload="auto"></audio>
                <div id="time">--:--/--:--</div>
                <button class="mdl-button mdl-js-button mdl-button--primary" id="play">
                    <i class="material-icons" href="" title="play">play_arrow</i>Play
                </button>
                <button class="mdl-button mdl-js-button mdl-button--primary" id="pause">
                    <i class="material-icons" href="" title="Pause">pause</i>Pause
                </button>
                <button class="mdl-button mdl-js-button mdl-button--primary" id="seek">
                    <i class="material-icons" href="" title="Pause">pause</i>Seek
                </button>


                <div class="track" id="track-viz"></div>
                <div class="track" id="track-play"></div>
                <!--Heatmap-->
                <div id="heatmapContainerWrapper">
                    <div id="heatmapContainer">
                    </div>
                    <div id="heatmapLegend">
                        <h2>Descriptive Legend Title</h2>
                        <span id="min"></span>
                        <span id="max"></span>
                        <img id="gradient" src="" style="width:100%"/>
                    </div>
                </div>


            </div>
        </div>
        <footer class="demo-footer mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <ul class="mdl-mini-footer--link-list">
                    <li><a href="#">Made with <a>love</a> at NTU.</a></li>

                </ul>
            </div>
        </footer>
    </main>
</div>

</body>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.2/howler.js"></script>

<script src="{{ url_for('static', filename='js/waves-ui.umd.js') }}"></script>
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<script src="{{ url_for('static', filename='js/insert-code.js') }}"></script>
<script src="{{ url_for('static', filename='js/waves-basic-controllers.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/waves-loaders.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/audio5.js') }}"></script>
<script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>

<script>
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.files[0].name;
    };

    jQuery(document).ready(function () {
        $("#search").hide();
        $("#play").show();
        $("#seek").hide();
        $("#pause").hide();

    });
    var play = document.getElementById('play');
    var pause = document.getElementById('pause');

    var seek = document.getElementById('seek');
    var search_results = document.getElementById('search_results');


    var playPause = function () {
        if (this.playing) {
            this.pause();
            $("#pause").hide();
            $("#play").show();
        }
        else {
            this.play();
            $("#play").hide();
            $("#pause").show();
        }
        this[this.playing ? 'pause' : 'play']();
        // or simply call this.playPause();
    };
    function setSeek(data) {
        $("#seek_val").val(data);
        $('#seek').trigger('click');
    }

    var moveTo = function () {
        var seek_val = $("#seek_val").val();
        console.log(seek_val);
        this.seek(seek_val);
        $("#play").hide();
        $("#pause").show();
        if (!this.playing) {
            this.play();

        }

    };
    var audio5js = new Audio5js({
        swf_path: '{{ url_for('static', filename='swf/audio5js.swf') }}',
        throw_errors: true,
        format_time: true,
        ready: function (player) {
            console.log(player);
            //this.load('static/110101_000444_channel3.wav');
            this.load("{{ audio_path }}");
            //this.play();
            $("#pause").hide();
            $("#play").show();
            play.addEventListener('click',
                playPause.bind(this));
            pause.addEventListener('click',
                playPause.bind(this));
            seek.addEventListener('click',
                moveTo.bind(this));
            this.on('timeupdate', function (position, duration) {
                //console.log(position+'/'+duration);
                $("#time").text(position + '/' + duration);
            }, this);

        }
    });


</script>
<script>
    var loader = new wavesLoaders.AudioBufferLoader();
    var timeline;
    var track;

    loader.load("{{ audio_path }}").then(function (buffer) {
        var $track = document.querySelector('#track-viz');
        var width = $track.getBoundingClientRect().width;
        var height = 300;
        var duration = buffer.duration;
        $("#duration").val(duration);
        // define the numbr of pixels per seconds the timeline should display
        var pixelsPerSecond = width / duration;
        // create a timeline
        timeline = new wavesUI.core.Timeline(pixelsPerSecond, width);
        // create a new track into the `track-1` element and give it a id ('main')
        timeline.createTrack($track, height, 'main');
        timeline.createTrack($track, height, 'main1');
        var data = [
            {time: 2, text: 'label 1'},
            {time: 50, text: 'label 2'},
            {time: 600, text: 'label 3'},
            {time: 800, text: 'label 4'}
        ];
        // create the layer
        var waveformLayer = new wavesUI.helpers.WaveformLayer(buffer, {
            height: height
        });
var waveformLayer1 = new wavesUI.helpers.WaveformLayer(buffer, {
            height: height
        });

        var markerLayer = new wavesUI.helpers.MarkerLayer(data, {
            height: height,
            displayHandlers: true,
            color: 'red'
        });
        var timeContext = new wavesUI.core.LayerTimeContext(timeline.timeContext);
        markerLayer.setTimeContext(timeContext);
        markerLayer.configureShape(wavesUI.shapes.AnnotatedMarker, {
            x: function (d, v) {
                if (v !== undefined) {
                    d.time = v;
                }
                return d.time;
            },
            color: function () {
                return 'orange';
            }
        });
        markerLayer.setBehavior(new wavesUI.behaviors.MarkerBehavior());

        var cursorLayer = new wavesUI.helpers.CursorLayer({
            height: height
        });


        // insert the layer inside the 'main' track
        timeline.addLayer(waveformLayer, 'main');
        timeline.addLayer(waveformLayer1, 'main1');
        //timeline.addLayer(markerLayer, 'main');
        //timeline.addLayer(cursorLayer, 'main');

        // listen for time passing...
        (function loop() {
            var currentTime = new Date().getTime() / 1000;
            cursorLayer.currentPosition = currentTime % duration;
            cursorLayer.update();

            //requestAnimationFrame(loop);
        }());

        // set the timeline's state to `BrushZoomState`
        timeline.state = new wavesUI.states.BrushZoomState(timeline);

        timeline.tracks.render();
        timeline.tracks.update();


    }).catch(function (err) {
        console.error(err.stack);
    });

    function draw_bound(duration, markersA) {
        console.log("T");
        console.log(timeline);
        console.log(markersA);
        var $track = document.querySelector('#track-viz');
        var width = $track.getBoundingClientRect().width;
        var height = 300;


        var pixelsPerSecond = width / duration;

        //var timeline = new wavesUI.core.Timeline(pixelsPerSecond, width);
        //var track = new wavesUI.core.Track($track, height);

        var t = timeline.getTrackById('main');
        console.log("Track");
        console.log(t);
        //timeline.createTrack($track, height, 'main1');


        var markerLayer = new wavesUI.core.Layer('collection', markersA, {
            height: height
        });

        var timeContext = new wavesUI.core.LayerTimeContext(timeline.timeContext);

        markerLayer.setTimeContext(timeContext);
        markerLayer.configureShape(wavesUI.shapes.AnnotatedMarker, {
            x: function (d, v) {
                if (v !== undefined) {
                    d.time = v;
                }
                return d.time;
            },
            color: function () {
                return 'orange';
            }
        });

        markerLayer.setBehavior(new wavesUI.behaviors.MarkerBehavior());

        timeline.state = new wavesUI.states.SimpleEditionState(timeline);

        timeline.addLayer(markerLayer, t);
        //timeline.add(track);

        timeline.tracks.render();
        timeline.tracks.update();

    }
    var matrix;

    $(function () {
        $('#upload-file-btn').click(function () {
            showLoading();
            var markersA = Array();

            var form_data = new FormData($('#upload-file')[0]);
            $.ajax({
                type: 'POST',
                url: '/api/v1/start_search',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: true,
                success: function (data) {

                    console.log('Success!\n');
                    matrix = JSON.parse(data)['matrix'];
                    var top_k = JSON.parse(data)['top_k'];
                    for (i = 0; i < top_k.length; i++) {
                        d = top_k[i];
                        var s_t = d[0] / 100;
                        var val = d[2];
                        var dict = {};
                        dict.time = s_t;
                        dict.text = i + 1;
                        markersA[i] = dict;

                        /*s = '<span class="mdl-chip mdl-chip--contact" style="width: 200px">\
                         <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">' + (i + 1) + '</span>\
                         <span class="mdl-chip__text">' + s_t + ' : ' + val + '</span>\
                         <a href="#" class="mdl-chip__action" onclick="setSeek(' + s_t + ')"><i class="material-icons">play_arrow</i></a>\
                         </span>';
                         */
                        s = '<tr>\
                                <td>' + (i + 1) + '</td>\
                                <td>' + s_t + ' secs</td>\
                                <td>' + val + '</td>\
                                <td class="mdl-data-table__cell--non-numeric" onclick="setSeek(' + s_t + ')"><a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">play_arrow</i></a></td>\
                            </tr>';
                        $("#search_results").append(s);

                    }
                    draw_bound($("#duration").val(), markersA);
                    $("#search").show();
                    console.log(top_k);
                    console.log(matrix);
                    hideLoading();
                },
                fail: function (data) {
                    console.log('Fail!' + data);
                }
            });
        });
    });
    onClickSeek = function () {
        // helper function
        function $(id) {
            return document.getElementById(id);
        }

        /*  legend code */
        // we want to display the gradient, so we have to draw it
        var legendCanvas = document.createElement('canvas');
        legendCanvas.width = matrix[0].length;
        legendCanvas.height = matrix.length;
        var legendCtx = legendCanvas.getContext('2d');
        var gradientCfg = {};

        function updateLegend(data) {
            // the onExtremaChange callback gives us min, max, and the gradientConfig
            // so we can update the legend
            $('min').innerHTML = data.min;
            $('max').innerHTML = data.max;
            // regenerate gradient image
            if (data.gradient != gradientCfg) {
                gradientCfg = data.gradient;
                var gradient = legendCtx.createLinearGradient(0, 0, 100, 1);
                for (var key in gradientCfg) {
                    gradient.addColorStop(key, gradientCfg[key]);
                }
                legendCtx.fillStyle = gradient;
                legendCtx.fillRect(0, 0, 100, 10);
                $('gradient').src = legendCanvas.toDataURL();
            }
        }

        /* legend code end */
        // create a heatmap instance
        var heatmap = h337.create({
            container: document.getElementById('heatmapContainer'),
            maxOpacity: .5,
            radius: 10,
            blur: .75,
            // update the legend whenever there's an extrema change
            onExtremaChange: function onExtremaChange(data) {
                updateLegend(data);
            }
        });
        // boundaries for data generation
        var width = (+window.getComputedStyle(document.body).width.replace(/px/, ''));
        var height = (+window.getComputedStyle(document.body).height.replace(/px/, ''));
        // generate 1000 datapoints
        var generate = function () {
            // randomly generate extremas
            var extremas = [(Math.random() * 10) >> 0, (Math.random() * 10) >> 0];
            var max = Math.max.apply(Math, extremas);
            var min = Math.min.apply(Math, extremas);
            var t = [];
            for (var i = 0; i < 1000; i++) {
                var x = (Math.random() * width) >> 0;
                var y = (Math.random() * height) >> 0;
                var c = ((Math.random() * max - min) >> 0) + min;
                // btw, we can set a radius on a point basis
                var r = (Math.random() * 80) >> 0;
                // add to dataset
                t.push({x: x, y: y, value: c, radius: r});
            }
            var init = +new Date;
            // set the generated dataset
            heatmap.setData({
                min: min,
                max: max,
                data: t
            });
            console.log('took ', (+new Date) - init, 'ms');
        };
        // initial generate
        generate();
        // whenever a user clicks on the ContainerWrapper the data will be regenerated -> new max & min
        document.getElementById('heatmapContainerWrapper').onclick = function () {
            generate();
        };
    };

</script>
<script>
    /* library */
    function showLoading() {
        // remove existing loaders
        $('.loading-container').remove();
        $('<div id="orrsLoader" class="loading-container"><div><div class="mdl-spinner mdl-js-spinner is-active"></div></div></div>').appendTo("body");

        componentHandler.upgradeElements($('.mdl-spinner').get());
        setTimeout(function () {
            $('#orrsLoader').css({opacity: 1});
        }, 1);
    }

    function hideLoading() {
        $('#orrsLoader').css({opacity: 0});
        setTimeout(function () {
            $('#orrsLoader').remove();
        }, 400);
    }
</script>
</html>