<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.red-indigo.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}"/>


    <title>Query by Example : Demo</title>

    <style>
        .demo-card-square.mdl-card {
            width: 320px;
            height: 320px;
        }
    </style>
</head>
<body>
<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
    <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title center-block">Query by Example: Spoken Term Detection</span>
            <div class="mdl-layout-spacer"></div>
            <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>-->
        </div>
    </header>
    <div class="demo-ribbon"></div>
    <!--
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>-->
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone demo-content mdl-color--white mdl-shadow--2dp">
                <h3>Query Audio</h3>
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <label for="file">Select an audio file</label>
                        <input name="file" type="file">
                        <button id="upload-file-btn" type="button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Upload
                        </button>
                    </fieldset>
                </form>

                <div class="demo-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                        Search Results
                    </div>
                    <!-- Contact Chip -->

                    <div id="search_results">
                        <span class="mdl-chip mdl-chip--contact" style="width: 200px">
                            <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">1</span>
                            <span class="mdl-chip__text">Start time - Score</span>
                            <a href="#" class="mdl-chip__action"><i class="material-icons">play_arrow</i></a>
                        </span>
                        <span class="mdl-chip mdl-chip--contact" style="width: 200px">
                            <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">1</span>
                            <span class="mdl-chip__text">Start - Score</span>
                            <a href="#" class="mdl-chip__action"><i class="material-icons">play_arrow</i></a>
                        </span>
                    </div>

                </div>


            </div>
            <!--Right side content-->
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

                <h3>Corpus Audio</h3>
                <div id="waveform"></div>
                <div id="waveform-timeline"></div>

                <div id="peaks-container"></div>

                <audio src="static/110101_000444_channel3.wav" preload="auto"></audio>

                <div class="track" id="track-viz"></div>
                <div class="track" id="track-play"></div>
            </div>
        </div>
        <footer class="demo-footer mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <ul class="mdl-mini-footer--link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy and Terms</a></li>
                    <li><a href="#">User Agreement</a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>

</body>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.2/howler.js"></script>

<script src="{{ url_for('static', filename='js/waves-ui.umd.js') }}"></script>
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<script src="{{ url_for('static', filename='js/insert-code.js') }}"></script>
<script src="{{ url_for('static', filename='js/waves-basic-controllers.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/waves-loaders.min.js') }}"></script>
<script src="{{ url_for('static', filename='audiojs/audio.min.js') }}"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
<!--
<script>

    (function (Peaks) {
        var myAudioContext = new AudioContext();
        var p = Peaks.init({
            container: document.querySelector('#peaks-container'),
            mediaElement: document.querySelector('audio'),
            audioContext: myAudioContext
        });
        p.on('segments.ready', function () {

        })
    })(peaks.js);

</script>-->
<script>
    $(function () {
        $('#upload-file-btn').click(function () {
            showLoading();

            var form_data = new FormData($('#upload-file')[0]);
            $.ajax({
                type: 'POST',
                url: '/api/v1/start_search',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                success: function (data) {

                    console.log('Success!\n');
                    var matrix = JSON.parse(data);
                    console.log(matrix[0]);
                    hideLoading();
                },
                fail: function (data) {
                    console.log('Fail!' + data);
                }

            });

        });
    });

    /* library */
    function showLoading() {
        // remove existing loaders
        $('.loading-container').remove();
        $('<div id="orrsLoader" class="loading-container"><div><div class="mdl-spinner mdl-js-spinner is-active"></div></div></div>').appendTo("body");

        componentHandler.upgradeElements($('.mdl-spinner').get());
        setTimeout(function () {
            $('#orrsLoader').css({opacity: 1});
        }, 1);
    }

    function hideLoading() {
        $('#orrsLoader').css({opacity: 0});
        setTimeout(function () {
            $('#orrsLoader').remove();
        }, 400);
    }
</script>
</html>